<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1049513522764-5ki447g9b1288rottjbn30kpjt6fajlu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1049513522764-5ki447g9b1288rottjbn30kpjt6fajlu</string>
	<key>API_KEY</key>
	<string>AIzaSyDagPlMPpVCeKo3ExeVX2oE0_KdeUVcMPI</string>
	<key>GCM_SENDER_ID</key>
	<string>1049513522764</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.donate</string>
	<key>PROJECT_ID</key>
	<string>donate-doacoes</string>
	<key>STORAGE_BUCKET</key>
	<string>donate-doacoes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1049513522764:ios:c7c907463311d8c46666e9</string>
</dict>
</plist>